<div id="comment-<%= comment.id %>" class="panel panel-default">
  <div class="panel-heading">
    <%= comment.user.username %>
    <div style="float:right">
      <% if current_user && current_user.find_action(:like, target: review) %>
        <span id="comment-<%= comment.id %>-like">
          <%= link_to unlike_comment_path(comment), method: :post, remote: true do  %>
            <i class="fa fa-heart" aria-hidden="true"></i>(<%= comment.reload.likes_count %>)
          <% end %>
        </span>
      <% else %>
        <span id="comment-<%= comment.id %>-like">
          <%= link_to like_comment_path(comment), method: :post, remote: true do  %>
            <i class="fa fa-heart-o" aria-hidden="true"></i>(<%= comment.reload.likes_count %>)
          <% end %>
        </span>
      <% end %>
    </div>
  </div>
  <div class="panel-body">
    <%= comment.content %>
    <% if current_user && comment.user == current_user %>
      <p class="text-right">
        <%= link_to "Delete", review_comment_path(review, comment), :method => :delete, data: {confirm: "删除后无法恢复，确定删除该评论吗？"}, :class => "btn btn-danger btn-xs", :remote => true %>
        <%= link_to "Edit", edit_review_comment_path(review, comment), :class => "btn btn-warning btn-xs", :remote => true %>
      </p>
    <% end %>
  </div>
</div>
