<div class="container">
  <h3 class="text-center">我推荐的课程</h3>
  <hr>

  <% @knowledges.each do |knowledge| %>
  <div class="col-xs-12 col-sm-4 col-md-3">
    <%= link_to knowledge_path(knowledge) do %>
      <div class="knowledge">
        <div class="knowledge-cover">
          <% if knowledge.photos.present? %>
            <%= image_tag(knowledge.photos[0].image.medium.url, class: 'thumbnail') %>
          <% else %>
            <%= image_tag("http://via.placeholder.com/250/87CEFA/ffffff?&text=#{knowledge.title}", class: 'thumbnail') %>
          <% end %>
        </div>
        <div class="knowledge-content">
          <%= link_to(knowledge.title, knowledge_path(knowledge)) %>
          <%= render_knowledge_status(knowledge) %>
          <% if knowledge.is_failed? %>
            <%= link_to("重新编辑", edit_knowledge_path(knowledge), :class => "btn btn-default btn-xs") %>
          <% end %>
        </div>
        <div class="knowledge-info">  
          <span class="icon"><i class="fa fa-bookmark-o" aria-hidden="true"></i></span><small><%= knowledge.marks_count %></small>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
