<% @group_events.each do |day, events| %>
  <% if current_days.exclude?(day.to_s)%>
    <div class="row">
      <div class="col-md-12 col-lg-12 text-center">
        <div class="owner">
          <%= day %>
          <% current_days << day %>
        </div>
      </div>
    </div>
  <% end %>
  <% events.group_by{|e| e.ownerable.title}.each do |event_owner, new_events| %>
    <% if current_days.exclude?(day.to_s) or current_owners.exclude?(event_owner.to_s)%>
      <div class="row">
        <div class="col-md-12 col-lg-12 text-center">
          <div class="owner">
            <%current_owners << event_owner %>
          </div>
        </div>
      </div>
    <% end %>
    <% new_events.each do |event| %>
      <div class="row">
        <div class="col-md-2 col-md-offset-2 col-lg-2">
          <span><%= render_created_at(event.created_at) %></span>
          <div class="thumb">
            <%= display_avatar(event.creator, 5*5) %>
          </div>
          <span><%= render_creator_name(event) %></span>
        </div>
        <div class="col-md-8 col-lg-8 eventContentContainer">
          <%= event.action %> :
          <%= render_event_action(event) %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
