<div class="pull-right">
  <% if @knowledge.is_hidden? %>
    <%= link_to("上线产品", publish_admin_knowledge_path(@knowledge), :method => :post, class: "btn btn-sm btn-default") %> |
  <% else %>
    <%= link_to("下线产品", hide_admin_knowledge_path(@knowledge), :method => :post, class: "btn btn-sm btn-default") %> |
  <% end %>
  <%= link_to("编辑", edit_admin_knowledge_path(@knowledge), class: "btn btn-sm btn-success") %> |
  <%= link_to("删除", admin_knowledge_path(@knowledge), :method => :delete, class: "btn btn-sm btn-danger") %>
</div>
<h3><%= @knowledge.title %></h3>
<small>--<%= @knowledge.subtitle %></small>
<hr>
<% @knowledge.photos.each do |photo| %>
  <%= image_tag(photo.image.thumb.url) %>
<% end %>
<hr>
<p>产品介绍: <br><%= sanitize @knowledge.description %> </p>
<p>适宜人群: <br><%= sanitize @knowledge.appropriate %> </p>
<p>订阅须知: <br><%= sanitize @knowledge.notice %> </p>
