<div class="page-content">
  <div class="container">
    <!-- <div class="row"> -->
    <div class="article-list">
      <% @posts.each do |post| %>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="article">
            <div class="article-cover">
              <a href="<%= knowledge_path(post.knowledge) %>">
                <% if post.knowledge.photos.present? %>
                  <%= image_tag(post.knowledge.photos[0].image.url, class: 'thumbnail') %>
                <% else %>
                  <%= image_tag("http://via.placeholder.com/250/87CEFA/ffffff?&text=#{post.knowledge.title}", class: 'thumbnail') %>
                <% end %>
              </a>
            </div>
            <div class="article-content">
              <% if post.model_name.name == "Review" %>
                <i class="fa fa-pen-circle-o fa-2x pull-right" aria-hidden="true"></i>
              <% elsif post.model_name.name == "Question" %>
                <i class="fa fa-question-square-o fa-2x pull-right" aria-hidden="true"></i>
              <% end %>
              <h3 style="margin-bottom: 0.5em;">
                <% if post.model_name.name == "Review" %>
                  <%= link_to post.title.truncate(15), review_path(post.friendly_id) %>
                <% elsif post.model_name.name == "Question" %>
                  <%= link_to post.title.truncate(15), knowledge_question_path(post.knowledge.friendly_id, post.friendly_id) %>
                <% end %>
              </h3>
              <div class="brief"> <%= simple_format(post.content.truncate(140)) %> </div>
              <div style="text-align:right;">
                <%= display_avatar(post.user, "25x25", "img-circle") %>  <%= link_to post.user.username.truncate(5) %>
              <small><%= time_ago(post) %></small>
              </div>


            </div>
          </div>
        </div>
      <% end %>
      <div class="apple_pagination">
        <%= will_paginate @posts, :container => false %>
      </div>
    </div>
  </div>
</div>
