<span id="knowledge-<%= @knowledge.id %>-like">
  <% if current_user && current_user.find_action(:like, target: @knowledge) %>
    <%= link_to unlike_knowledge_path(@knowledge), :method => :post, remote:true, class: "liked" do %>
      <i class="fa fa-heart-o" aria-hidden="true"></i>
      <p><%= @knowledge.reload.likes_count %> <small>喜欢</small></p>
    <% end %>
  <% else %>
    <%= link_to like_knowledge_path(@knowledge), :method => :post, remote:true do %>
      <i class="fa fa-heart-o" aria-hidden="true"></i>
      <p><%= @knowledge.reload.likes_count %> <small>喜欢</small></p>
    <% end %>
  <% end %>
</span>
