<div class="page-content">
  <div class="container">
    <div class="row">
      <main class="col-md-9">

        <section class="heading">
          <h3><%= @knowledge.title %></h3>
          <small><%= @knowledge.subtitle %></small>
        </section>

        <section class="rate">
          <div class="raty" data-score="<%= @knowledge.find_score(current_user).try(:score) || 0 %>" data-score-url="<%= rate_knowledge_path(@knowledge) %>"></div>
          <span class="average-score"><%= @knowledge.average_score %></span>
        </section>

        <section class="menu">
          <ul class="nav nav-tabs nav-justified">
            <li role="presentation" id="knowledge-info">
              <a href="#">知识详情</a>
            </li>
            <li role="presentation" id="knowledge-review">
              <a href="<%= knowledge_reviews_path(@knowledge) %>">评测 <span class="counter"><%= @knowledge.reviews_count %></span></a>
            </li>
            <li role="presentation" id="knowledge-discussion">
              <a href="<%= knowledge_discussions_path(@knowledge) %>">讨论 <span class="counter"><%= @knowledge.discussions_count %></span></a>
            </li>
            <li role="presentation" id="knowledge-question">
              <a href="<%= knowledge_questions_path(@knowledge) %>">问题 <span class="counter"><%= @knowledge.questions_count %></span></a>
            </li>
          </ul>
        </section>

        <!-- <section>
          <%#= render "star" %>
        </section> -->

        <section class="knowledge-info">
          <% @knowledge.photos.each do |photo| %>
            <%= image_tag(photo.image.thumb.url) %>
          <% end %>
          <div class="author_name">
            <span>由 <%= image_tag(@knowledge.user.avatar.thumb.url) if @knowledge.user.avatar.url %> <%= link_to @knowledge.user.username, user_path(@knowledge.user) %> 推荐</span>
          </div>
          <p>
            <%= sanitize @knowledge.description %>
          </p>
          <p>标签:
            <% @knowledge.tags.each do |tag| %>
              <span class="badge"><%= tag.title %></span>
            <% end -%>
          </p>
        </section>

        <section class="knowledge-discussion">
          <p class="knowledge_counter">共有 <%= @knowledge.discussions_count %> 条讨论</p>
          <%= link_to("参与讨论", new_knowledge_discussion_path(@knowledge), class: "btn btn-default") %>
          <div class="discussions-list">
            <% @discussions.each do |discussion| %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <%= link_to discussion.user.username, user_path(discussion.user) %>

                  <div style="float:right">
                    <%= render :partial => "discussions/like", :locals => { :discussion => discussion } %>
                  </div>

                </div>
                <div class="panel-body">
                  <% if current_user && discussion.user == current_user %>
                    <%= link_to("edit", edit_knowledge_discussion_path(@knowledge, discussion), class: "btn btn-warning btn-xs pull-right") %>
                    <%= link_to("delete", knowledge_discussion_path(@knowledge, discussion), method: :delete, data: {:confirm => "删除后无法恢复，确定要删除吗？"}, class: "btn btn-danger btn-xs pull-right") %>
                  <% end %>
                  <%= simple_format(discussion.content) %>
                </div>
              </div>
            <% end -%>
            <div class="section-footer">
              <%= link_to "更多讨论...", knowledge_discussions_path(@knowledge) %>
            </div>
          </div>

        </section>

        <section class="knowledge-review">
          <p class="knowledge_counter">共有 <%= @knowledge.reviews_count %> 篇评测</p>
          <%= link_to("写评测", new_knowledge_review_path(@knowledge), class: "btn btn-default") %>
          <div class="reviews-list">
            <% @reviews.each do |review| %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <%= link_to review.user.username, user_path(review.user) %> 发表评测：《<%= link_to(review.title, review_path(review)) %>》
                  <div style="float:right">
                    <%= render :partial => "reviews/like", :locals => { :review => review } %>
                  </div>
                </div>
                <div class="panel-body">
                  <% if current_user && review.user == current_user %>
                    <%= link_to("edit", edit_knowledge_review_path(@knowledge, review), class: "btn btn-warning btn-xs pull-right") %>
                    <%= link_to("delete", knowledge_review_path(@knowledge, review), method: :delete, data: {:confirm => "删除后无法恢复，确定要删除吗？"}, class: "btn btn-danger btn-xs pull-right") %>
                  <% end %>
                  <%= simple_format(review.content) %>
                </div>
              </div>
            <% end -%>
            <div class="section-footer">
              <%= link_to "更多评测...", knowledge_reviews_path(@knowledge) %>
            </div>
          </div>
        </section>

        <section class="knowledge-question">
          <p class="knowledge_counter">共有 <%= @knowledge.questions_count %> 个问题</p>
          <%= link_to("提问题", new_knowledge_question_path(@knowledge), class: "btn btn-default") %>
          <div class="questions-list">
            <% @questions.each do |question| %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <%= link_to question.user.username, user_path(question.user) %> 提出问题：《<%= link_to(question.title, knowledge_question_path(@knowledge, question)) %>》
                  <!-- <a href="#">
                    <i class="fa fa-heart" aria-hidden="true"></i><span>(10)</span>
                  </a>  -->
                  <span class="pull-right"><%= question.anwsers_count %>人回答</span>
                </div>
                <div class="panel-body">
                  <%= link_to("我来回答", new_knowledge_question_anwser_path(@knowledge, question), class: "btn btn-default btn-xs pull-right") %>
                  <% if current_user && question.user == current_user %>
                    <%= link_to("edit", edit_knowledge_question_path(@knowledge, question), class: "btn btn-warning btn-xs pull-right") %>
                    <%= link_to("delete", knowledge_question_path(@knowledge, question), method: :delete, data: {:confirm => "删除后无法恢复，确定要删除吗？"}, class: "btn btn-danger btn-xs pull-right") %>
                  <% end %>
                  <%= sanitize question.description %>
                </div>
              </div>
            <% end -%>
            <div class="section-footer">
              <%= link_to "更多问题...", knowledge_reviews_path(@knowledge) %>
            </div>
          </div>
        </section>

        <section class="footer text-center">
          <small>今天，你学习了吗？</small>
        </section>

      </main>

      <aside class="col-md-3">
        <%= render 'sidebar' %>
      </aside>

    </div>
  </div>
</div>



<%= content_for :page_javascript do %>
  <script>
    $("#knowledge-info").addClass("active");
  </script>
  <script>
   $(".raty").raty({
     path: '/images/',
     score: function() { return $(this).data('score'); },
     click: function(score) {
       var that = this;
       $.ajax({
         url: $(this).data("score-url"),
         method: "POST",
         data: { score: score },
         dataType: "json",
         success: function(data){
           $(that).closest(".rate").find(".average-score").html( data["average_score"] );
         }
       })
     }
   });
  </script>
<% end %>
