<h3><%= @knowledge.title %></h3>
<small>--<%= @knowledge.subtitle %></small>
<hr>
<% @knowledge.photos.each do |photo| %>
  <%= image_tag(photo.image.thumb.url) %>
<% end %>
<hr>
<p>产品介绍: <br><%= sanitize @knowledge.description %> </p>
<p>适宜人群: <br><%= sanitize @knowledge.appropriate %> </p>
<p>订阅须知: <br><%= sanitize @knowledge.notice %> </p>
