<span class="pull-right">
  <% if current_user && current_user.is_liker_of?(@knowledge) %>
    <label class="label label-success"> 已加入心愿单 </label>
  <% else %>
    <%= link_to("想学", add_knowledge_path(@knowledge), :method => :post, :class => "btn btn-default btn-xs") %>
  <% end %>
  (<small> <%= @knowledge.likers.count %>人想学 </small>)
  <% if current_user && !current_user.is_buyer_of?(@knowledge) %>
    <%= link_to("学过", buy_knowledge_path(@knowledge), :method => :post, :class => "btn btn-default btn-xs") %>
  <% end %>
  (<small> <%= @knowledge.buyers.count %>人学过</small>)
</span>

<h3><%= @knowledge.title %></h3>
<small>--<%= @knowledge.subtitle %></small>
<hr>
<% @knowledge.photos.each do |photo| %>
  <%= image_tag(photo.image.thumb.url) %>
<% end %>
<hr>
<p>产品介绍: <br><%= sanitize @knowledge.description %> </p>
<p>适宜人群: <br><%= sanitize @knowledge.appropriate %> </p>
<p>订阅须知: <br><%= sanitize @knowledge.notice %> </p>
