<div class="page-content">
  <div class="container">
    <div class="row">
      <main class="col-md-9">

        <%= render 'knowledges/show_header' %>

        <!-- <section>
          <%#= render "star" %>
        </section> -->

        <section class="knowledge-pictures">
          <div class="owl-carousel owl-theme">
            <% @knowledge.photos.each do |photo| %>
              <div class="item">
                <%= image_tag(photo.image.url) %>
              </div>
            <% end %>
          </div>
        </section>

        <section class="knowledge-info">
          <div class="author_name">
            <span><%= display_avatar(@knowledge.user, "35x35", "img-circle")%>  <%= link_to @knowledge.user.username, user_path(@knowledge.user) %> 推荐</span>
          </div>
          <p>
            <%= sanitize @knowledge.description %>
          </p>
          <p>标签:
            <% @knowledge.tags.each do |tag| %>
              <span class="badge"><%= tag.title %></span>
            <% end -%>
          </p>
        </section>

        <section class="knowledge-review">
          <p class="knowledge_counter">共有 <%= @knowledge.reviews_count %> 篇评测</p>
          <%= link_to("写评测", new_knowledge_review_path(@knowledge), class: "btn btn-default") %>
          <div class="reviews-list">
            <%= render partial: 'reviews/review_item', :collection => @reviews, :as => :review %>
          </div>
          <div class="section-footer">
            <%= link_to "点击查看更多评测...", knowledge_reviews_path(@knowledge) %>
          </div>
        </section>

        <section class="knowledge-discussion">
          <p class="knowledge_counter">共有 <%= @knowledge.discussions_count %> 条讨论</p>
          <%= link_to("参与讨论", new_knowledge_discussion_path(@knowledge), class: "btn btn-default") %>
          <div class="discussions-list">
            <%= render partial: 'discussions/discussion_item', :collection => @discussions, :as => :discussion %>
          </div>
          <div class="section-footer">
            <%= link_to "点击查看更多讨论...", knowledge_discussions_path(@knowledge) %>
          </div>
        </section>

        <section class="knowledge-question">
          <p class="knowledge_counter">共有 <%= @knowledge.questions_count %> 个问题</p>
          <%= link_to("提问题", new_knowledge_question_path(@knowledge), class: "btn btn-default") %>
          <div class="questions-list">
            <%= render partial: 'questions/question_item', :collection => @questions, :as => :question %>
          </div>
          <div class="section-footer">
            <%= link_to "点击查看更多问题...", knowledge_questions_path(@knowledge) %>
          </div>
        </section>

        <%= render 'knowledges/show_footer' %>

      </main>

      <aside class="col-md-3">
        <%= render 'sidebar' %>
      </aside>

    </div>
  </div>
</div>

<%= content_for :page_stylesheet do %>
  <link href="http://cdn.bootcss.com/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/OwlCarousel2/2.2.1/assets/owl.theme.green.min.css" rel="stylesheet">
<% end %>

<%= content_for :page_javascript do %>

  <script src="http://cdn.bootcss.com/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>

  <script>
    $(document).ready(function(){
      $('.owl-carousel').owlCarousel({
          // loop: true,
          center: true,
          margin:10,
          nav:true,
          // autoWidth:true,
          items:1,
          autoplay: true,
          autoplayTimeout:2000,
          autoplayHoverPause:true,
      })
    });
  </script>


  <script>
    $("#knowledge-info").addClass("active");
  </script>

<% end %>
