<%= simple_form_for [@knowledge, @review] do |f| %>
  <div class="group">
    <%= f.input :title, :label => "标题" %>
  </div>

  <div class="group">
    <%= f.input :content, :label => "评测内容" %>
  </div>

  <div class="form-actions">
    <%= f.submit "发表评测", class: "btn btn-primary" %>
  </div>
<% end %>

<%= content_for :page_javascript do %>
  <script type="text/javascript">
    var editor = new Simditor({ textarea: $('#review_content'), toolbar: ['title', 'bold', 'italic', 'underline', 'strikethrough', 'color', '|', 'ol', 'ul', '|', 'markdown', 'blockquote', 'code', 'table', 'link','image', '|','hr', 'indent', 'outdent', 'alignment', '|', 'marked', 'mark'],  placeholder: '这里输入评测内容...', pasteImage: true, fileKey: 'file', upload: { url: '/photos', params: null, connectionCount: 3, leaveConfirm: 'Uploading is in progress, are you sure to leave this page?' } });
  </script>
<% end %>
