<div class="page-content">
  <div class="container">
    <div class="row">
      <main class="col-md-9">
        <%= render 'knowledges/show_header' %>

        <section class="knowledge-review">
          <%= link_to("写评测", new_knowledge_review_path(@knowledge), class: "btn btn-default") %>
          <div class="reviews-list">
            <% @reviews.each do |review| %>
              <%= render partial: 'reviews/review_item', :collection => @reviews, :as => :review %>
            <% end -%>
          </div>
        </section>

        <%= render 'knowledges/show_footer' %>
      </main>


      <aside class="col-md-3">
        <%= render 'knowledges/sidebar' %>
      </aside>
    </div>
  </div>
</div>


<%= content_for :page_javascript do %>
  <script>
    $("#knowledge-review").addClass("active");
  </script>
<% end %>
