<div class="page-content">

  <main class="container main">

    <section>
      <h2 class="text-center">
        <%= @review.title %>
      </h2>
      <div class="share-links pull-right">
        <%= social_share_button_tag(@review.title) %>
      </div>
      <article>
        <div class="article-info">
          <p>
            <span>作者：<%= link_to @review.user.username, user_path(@review.user) %></span>
            <span class="pull-right"><%= render :partial => "like", :locals => { :review => @review } %></span>
          </p>
          <p>
            返回知识页面：<b><%= link_to(@review.knowledge.title, knowledge_path(@review.knowledge)) %></b>
          </p>
        </div>
        <div class="article-content">
          <%= sanitize(@review.content) %>
        </div>
        <span class="article-actions">
          <% if current_user && @review.user == current_user %>
            <%= link_to(content_tag(:i, "",class:'fa fa-pencil'), edit_knowledge_review_path(@review.knowledge, @review), class: "pull-right") %>
            <%= link_to(content_tag(:i, "",class:'fa fa-trash'), knowledge_review_path(@review.knowledge, @review), method: :delete, data: {:confirm => "删除后无法恢复，确定要删除吗？"}, class: "pull-right", style:"margin: 0 1em; color: red;") %>
          <% end %>
        </span>
      </article>

    </section>

    <section>
      <div class="add-comment">
        <%#= link_to("发表评论", new_review_comment_path(@review), class:"btn btn-default", remote: true) %>
        <%= simple_form_for [ @review, @comment ], remote: true do |f| %>
          <div class="form-group">
            <%= f.input :content, class: "from-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "回复", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </section>

    <section>
      <h4 id="comment-count">共有 <%= @review.comments_count %> 条评论</h4>
      <div id="comment-list">
        <%= render partial: 'comments/comment', :locals => { :review => @review }, :collection => @comments, :as => :comment %>
      </div>
    </section>

    <section class="section-footer">

    </section>
  </main>

</div>


<%= content_for :page_javascript do %>
  <!-- <script type="text/javascript">
  $("#comment_content").focus(function(){
    var editor = new Simditor({ textarea: $('#comment_content'), toolbar: ['title', 'bold', 'italic', 'underline', 'strikethrough', 'color', '|', 'ol', 'ul', '|', 'markdown', 'blockquote', 'code', 'table', 'link','image', '|','hr', '|', 'marked', 'mark'],  placeholder: '这里输入提问内容...', pasteImage: true, fileKey: 'file', upload: { url: '/photos', params: null, connectionCount: 3, leaveConfirm: 'Uploading is in progress, are you sure to leave this page?' } });
  }); -->

  </script>
<% end %>
