<!DOCTYPE html>
<html>
  <head>
    <title>KnewMark</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag  'application', media: 'all' %>
    <%= yield :page_stylesheet %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
  </head>

  <body>
      <%= render "common/navbar" %>
      <%= render "common/flashes" %>
      <%= yield %>
      <%= render "common/footer" %>
      <%= javascript_include_tag 'application' %>
      <!-- <script src="http://cdn.bootcss.com/masonry/4.2.0/masonry.pkgd.min.js"></script> -->
      <%= yield :page_javascript %>
  </body>
</html>
